/*******************************************************************************
 * _layout.scss
 *
 * Styling of the Creighton University "default" layout demonstrating the Compass grid extension Susy
 * and building mobile first layouts.
 ******************************************************************************/
/*
 * 100% = 1 em ~= 16px ~= 14pt
 * 768px = 48em
 * 845px = 52.813em
 * 900px = 56.25em
 * 1000px = 62.5em
*/
/*
 *$BRAND COLORS OLD
 */
/*
 *$BRAND COLORS NEW
 */
/*
 *$Monochromatic colors
 */
/* Front Page */
/* Expanding Menu colors */
/* Alert Colors */
/* Profile Colors */
/* Program Search Colors */
/*
 * 100% = 1 em ~= 16px ~= 14pt
 * 768px = 48em
 * 845px = 52.813em
 * 900px = 56.25em
 * 1000px = 62.5em
*/
/*
 *$BRAND COLORS OLD
 */
/*
 *$BRAND COLORS NEW
 */
/*
 *$Monochromatic colors
 */
/* Front Page */
/* Expanding Menu colors */
/* Alert Colors */
/* Profile Colors */
/* Program Search Colors */
/* line 19, ../../../sass/partials/utility/abstractions/_visibility.scss */
.element-hidden {
  display: none;
}

/* line 30, ../../../sass/partials/utility/abstractions/_typography.scss */
.gryes {
  font-family: "texgyrescholaregular";
}

/* line 33, ../../../sass/partials/utility/abstractions/_typography.scss */
.bebas {
  font-family: "bebas_neueregular";
}

/**
 * $ISLAND
 */
/**
 * $HLIST
 */
/**
 * $TEXT COLORS
 */
/* line 43, ../../../sass/partials/utility/abstractions/_colors.scss */
.l-footer {
  color: white;
}

/**
 * $BACKGROUND COLORS
 */
/* line 53, ../../../sass/partials/utility/abstractions/_colors.scss */
.l-footer {
  background-color: #3255a4;
}

/* line 99, ../../../sass/partials/utility/abstractions/_colors.scss */
.tan-gradiant-wrapper {
  background: #ddca99;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, white 0%, #ddca99 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #ddca99));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, white 0%, #ddca99 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, white 0%, #ddca99 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, white 0%, #ddca99 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ffffff 0%, #ddca99 100%);
  /* W3C */
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFDDCA99', endColorstr='#FFDDCA99');
}

/* line 14, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 18px;
}

/* line 18, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.l-header {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  width: 100%;
  position: relative;
  z-index: 50;
}
/* line 48, ../../../../../../../../.rvm/gems/ruby-2.1.0/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
.l-header:before, .l-header:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 55, ../../../../../../../../.rvm/gems/ruby-2.1.0/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
.l-header:after {
  clear: both;
}
@media (max-width: 65.625em) {
  /* line 18, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .l-header {
    z-index: inherit;
    position: relative;
    padding-top: 0;
  }
}

/* line 29, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.l-branding {
  width: 40%;
  float: left;
  margin-right: 2.85714%;
  width: 100%;
  padding-top: 18px;
}
@media (max-width: 65.625em) {
  /* line 29, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .l-branding {
    width: 100%;
    float: left;
    margin-right: 2.85714%;
    float: right;
    margin-right: 0;
    padding-top: 2.8125em;
    margin-bottom: 1em;
    text-align: center;
  }
}

/* line 41, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.l-region--header {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -32px;
}

/* line 46, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.has-sidebar-first .l-content,
.has-two-sidebars .l-content {
  width: 74.28571%;
  float: right;
  margin-right: 0;
  *margin-left: -32px;
}
@media (max-width: 48em) {
  /* line 46, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .has-sidebar-first .l-content,
  .has-two-sidebars .l-content {
    width: 100%;
    float: left;
    margin-right: 2.85714%;
  }
}
/* line 51, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.has-sidebar-first .l-content.single-col,
.has-two-sidebars .l-content.single-col {
  width: 100%;
  float: left;
  margin-right: 2.85714%;
}
/* line 53, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.has-sidebar-first .l-region--sidebar-first,
.has-two-sidebars .l-region--sidebar-first {
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 48em) {
  /* line 53, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-first {
    width: 100%;
    float: left;
    margin-right: 2.85714%;
  }
}

/* line 64, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.has-sidebar-second .container .field--name-body div.video-filter,
.has-sidebar-second .container .field--name-body p:first-of-type img,
.has-two-sidebars .container .field--name-body div.video-filter,
.has-two-sidebars .container .field--name-body p:first-of-type img {
  margin-top: -18px;
}
/* line 68, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.has-sidebar-second .container .field--name-body p img[data-picture-align="left"],
.has-sidebar-second .container .field--name-body p span[data-picture-align="left"],
.has-two-sidebars .container .field--name-body p img[data-picture-align="left"],
.has-two-sidebars .container .field--name-body p span[data-picture-align="left"] {
  margin-bottom: 0;
}

/* line 73, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.has-sidebar-second.section-admissions .node-22 {
  margin-top: 6px;
}

/* line 77, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.has-sidebar-second .content-wrapper {
  padding-top: 0;
  width: 74.28571%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 48em) {
  /* line 77, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .has-sidebar-second .content-wrapper {
    width: 100%;
    float: left;
    margin-right: 2.85714%;
  }
}
/* line 85, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.has-sidebar-second .l-region--sidebar-second,
.has-sidebar-second .field--name-field-content-secondary-content {
  width: 22.85714%;
  float: right;
  margin-right: 0;
  *margin-left: -32px;
}
@media (max-width: 48em) {
  /* line 85, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .has-sidebar-second .l-region--sidebar-second,
  .has-sidebar-second .field--name-field-content-secondary-content {
    width: 100%;
    float: left;
    margin-right: 2.85714%;
  }
}

/* line 94, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.has-two-sidebars .content-wrapper {
  padding-top: 0;
  width: 65.38462%;
  float: left;
  margin-right: 3.84615%;
}
@media (max-width: 65.625em) {
  /* line 94, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .has-two-sidebars .content-wrapper {
    width: 100%;
    float: left;
    margin-right: 3.84615%;
  }
}
/* line 100, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.single-col .has-two-sidebars .content-wrapper {
  width: 100%;
  float: left;
  margin-right: 3.84615%;
}
/* line 102, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.has-two-sidebars .l-region--sidebar-second {
  width: 30.76923%;
  float: right;
  margin-right: 0;
  *margin-left: -32px;
}
@media (max-width: 65.625em) {
  /* line 102, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    width: 100%;
    float: left;
    margin-right: 3.84615%;
  }
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 109, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.hidden-element {
  position: absolute;
  left: -9999px;
  top: -1000px;
}

/* line 115, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.alignright {
  float: right;
}

/* line 119, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.alignleft {
  float: left;
}

/* line 123, ../../../sass/layouts/cu-default/cu-default.layout.scss */
img.alignleft {
  margin-right: 1em;
  margin-bottom: 1em;
}
@media (max-width: 43.75em) {
  /* line 123, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  img.alignleft {
    float: none;
  }
}

/* line 131, ../../../sass/layouts/cu-default/cu-default.layout.scss */
img.alignright {
  margin-left: 1em;
  margin-bottom: 1em;
}
@media (max-width: 43.75em) {
  /* line 131, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  img.alignright {
    float: none;
  }
}

/* line 139, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.container {
  *zoom: 1;
  max-width: 1076px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;
  margin-left: 3%;
  margin-right: 3%;
}
/* line 38, ../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 65.6875em) {
  /* line 139, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 52.8125em) {
  /* line 139, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .container {
    padding-right: 2em;
    padding-left: 2em;
  }
}

/* line 158, ../../../sass/layouts/cu-default/cu-default.layout.scss */
section {
  padding: 2em 0;
}

/* line 162, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.feature {
  padding: 0 0 1em;
}

/* line 166, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.main-header {
  position: relative;
  background: #002e6d;
}
@media (max-width: 65.625em) {
  /* line 171, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .main-header .container {
    padding: 0;
  }
}

@media (min-width: 65.6875em) {
  /* line 177, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .header-bgimage .main-header {
    background: rgba(0,84,166,0.8);
    /* background: rgba(0, 38, 62, 0.5); */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }
}
/* line 182, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.l-main {
  padding-bottom: 3em;
}
@media (max-width: 52.8125em) {
  /* line 182, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .l-main {
    padding-bottom: 0;
  }
}

/* line 188, ../../../sass/layouts/cu-default/cu-default.layout.scss */
body.section-programs .l-main {
  padding-bottom: 0;
}

/* line 192, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.l-region--sidebar-second > .block {
  margin-bottom: 2em;
}

/* Page Top */
/* line 201, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.top, .top.header-image {
  position: relative;
  padding-top: 11em;
  margin-bottom: 1.875em;
}
@media (max-width: 65.625em) {
  /* line 201, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .top, .top.header-image {
    padding-top: 0 !important;
  }
}
/* line 210, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.top .container {
  z-index: 1;
}

/* line 214, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.top-image {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 8px;
  height: 16.25em;
}
@media screen and (max-width: 65.625em) {
  /* line 214, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .top-image {
    height: auto;
  }
}

/* line 222, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.l-region--header-image {
  position: absolute;
  width: 100%;
  max-height: 200px;
  top: 0;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 65.625em) {
  /* line 222, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .l-region--header-image {
    max-height: none;
    position: relative;
  }
}
/* line 233, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.l-region--header-image img {
  width: 100%;
}
/* line 236, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.l-region--header-image .header-image {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 16.25em;
}
@media screen and (max-width: 65.625em) {
  /* line 236, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .l-region--header-image .header-image {
    min-height: 5em;
  }
}

/* line 249, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.l-footer {
  padding: 2em 0;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.4);
}
@media (max-width: 28.75em) {
  /* line 254, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .l-footer #block-cu-custom-blocks-footer-image-block {
    margin-top: 20px;
    text-align: center;
  }
}

/* line 262, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.l-best-college {
  width: 22.85714%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 43.75em) {
  /* line 262, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .l-best-college {
    width: 100%;
    float: left;
    margin-right: 2.85714%;
    text-align: center;
  }
}

/* line 269, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.l-left-footer {
  width: 48.57143%;
  float: left;
  margin-right: 2.85714%;
}
@media (max-width: 56.25em) {
  /* line 269, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .l-left-footer {
    width: 74.28571%;
    float: right;
    margin-right: 0;
    margin-bottom: 1em;
  }
}
@media (max-width: 43.75em) {
  /* line 269, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .l-left-footer {
    width: 100%;
    float: left;
    margin-right: 2.85714%;
  }
}

/* line 280, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.l-right-footer {
  width: 22.85714%;
  float: right;
  margin-right: 0;
  *margin-left: -32px;
}
@media (max-width: 56.25em) {
  /* line 280, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .l-right-footer {
    width: 100%;
    float: left;
    margin-right: 2.85714%;
  }
}

/* line 287, ../../../sass/layouts/cu-default/cu-default.layout.scss */
.sidebar-item {
  margin: 0;
  margin-bottom: 1.5em;
}

@media (max-width: 48em) {
  /* line 292, ../../../sass/layouts/cu-default/cu-default.layout.scss */
  .block--cu-custom-blocks-footer-image-block {
    text-align: center;
  }
}
