
	/* Hand coded for retheme menu development - move to scss file */
	body .main-header {
		background: #0054a6;
		position: relative;
		box-shadow: none;
		width: 100%;
	}

	.main-header > .container {
		padding: 0;
		max-width: 1300px;
	}

	.secondary-header {
		position: static;
		top: 0;
		left: 0;
		margin-top: 0;
		z-index: 998;
		border-bottom: none;
		background: #002E6D;
		overflow: visible;
	}

	body.admin-menu .secondary-header {
		/*margin-top: 20px;*/
	}

	.secondary-header > .container {
		padding-right: 0;
		max-width: 1300px;
	}

	/* mega menu list */
	.nav-menu {
	  /*display: table;*/float: right;
	  /*position: relative;*/
	  list-style: none;
	  margin: 0;
	  padding: 0;
	  z-index: 15;
	}

	/* a top level navigation item in the mega menu */
	.nav-item {
	  font-family: 'OpenSans-Semibold', sans-serif;
	  list-style: none;
	  display: /*table-cell;*/ inline-block;
	  padding: 0;
	  margin: 0;
	}

	/* first descendant link within a top level navigation item */
	.nav-item > a {
		position: relative;
		display: inline-block;
		padding: 1px 1em 0;
		margin: 0;
		border: 1px solid transparent;
	}

	/* focus/open states of first descendant link within a top level
	   navigation item */
	.nav-item > a:focus,
	.nav-item > a.open {
	  border: 1px solid #dedede;
	}

	/* open state of first descendant link within a top level
	   navigation item */
	.nav-item > a.open {
	  background-color: #fff;
	  border-bottom: none;
	  z-index: 1;
	}

	/* sub-navigation panel */
	.sub-nav {
	  position: absolute;
	  display: none;
	  /*top: 2.6em;*/
	  /*margin-top: -1px;*/
	  margin-top: 0;
	  padding: 0.5em 1em;
	  border: 1px solid #dedede;
	  background-color: #fff;
		width: 100%;
	}

	/* sub-navigation panel open state */
	.sub-nav.open {
	  display: block;
	}

	/* list of items within sub-navigation panel */
	.sub-nav ul {
		/*display: inline-block;*/
		vertical-align: top;
		margin: 0 32px 0 0;
		padding: 0;
	}

	/* list item within sub-navigation panel */
	.sub-nav li {
	  display: block;
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	}
	/* End of jQuery Accessible Mega Menu styles */


	.top.header-image {
    padding-top: 11em;
	}

	.top.no-image {
    position: relative;
    padding-top: 7.5em;
    margin-bottom: 1.875em;
	}

	/* Fix admissions page title color and link font size. Wrike 117223791 */
	.block--featured_content_2 .title a, .block--featured_content_2 .title {
		color: #FFCC4F;
	}
	.block--featured_content_2 .btn-transparent-blue-alt {
	 font-size: 1.1875em;
	}
	/* END - Fix admissions page title color and link font size. Wrike 117223791 */

	.secondary-header.desktop > .container {
		position: static;
		/*margin: 0;*/
		padding: 0;
	}

	#secondary-header-navigation {
		float: right;
	}

	#main-header-search {
		width: 300px;
		float:left;
		padding:0;
		margin:0;
	}

	#main-header-tranlinks {
		line-height: normal;
		float : left;
		padding : 0 4px;
		margin : 0;
	}

	#main-header-dropdown {
		float: left;
		line-height: normal;
	}


	#topsearch {
		color: #666;
	}

	.quick-search {
		width: 100%;
		float: none;
		margin: 0;
		padding: 0;
	}

	.quick-search input[type="text"], .quick-search form.gray-search {
		background: #fff;
		height: 36px;
	}

	.main-header div.site-logo a.site-logo,
	#main_mega_nav .panel-display .pane-page-logo a {
		padding: 16px 10px 10px 0;
		display: inline-block;
		width: 170px; /* 170 - 10px = 160px img */
	}

	@media (min-width: 65.6875em) {
		body.site-www .main-header div.site-logo {
			margin-left: 0;
		}
	}

	@media (min-width: 48em) {
		body.site-www .main-header div.site-logo {
			margin-left: 0;
		}
	}

	@media (min-width: 65.6875em) {
		body.site-www .main-header div.site-logo {
			margin-left: 0;
		}
	}

	@media (min-width: 48em) {
		body.site-www .main-header div.site-logo {
			margin-left: 0;
		}
	}

	@media (min-width: 65.6875em) {
		.main-header div.site-logo {
			margin-left: 0;
		}
	}

	@media (min-width: 48em) {
		.main-header div.site-logo {
			margin-left: 0;
		}
	}

	@media (min-width: 65.6875em) {
		.main-header div.site-logo {
			margin-left: 0;
		}
	}

	@media (min-width: 48em) {
		.main-header div.site-logo {
			margin-left: 0;
		}
	}

	@media (min-width: 65.6875em) {
		.site-logo {
			margin: 0 auto;
		}
	}

	@media (min-width: 48em) {
		.site-logo {
			margin: 0 auto;
		}
	}

	.main-header .l-branding,
	#main_mega_nav .panel-display .pane-page-logo {
		padding: 0;
		/*width: auto; */
		float: left;
		/*width: 20%;*/
	}

	#main_mega_nav .panel-panel .pane-menu.panel-block-right-border {
		border-right: 3px dotted #95D2F3;
		margin-right: 32px;
		display: block;
	}

	.main-header .l-region--header,
	#main_mega_nav .panel-display > .panel-panel:first-child .lastUnit .inside  {
		width: auto;
		position: absolute;
		right: 0;
		float: none;
		bottom: 6px;
		/*width: 80%;*/
	}

	#block-menu-block-header-main-menu {
		float: right;
	}

	#block-menu-block-header-main-menu .contextual-links-region {
		position: absolute;
	}

	body.front header.l-header {
		position: relative;
	}

	body.front header.l-header.sticky {
		position: fixed;
		z-index: 9999;
		width: 100%;
		top: 0;
	}

	body.not-front .header-bgimage .top {
		padding-top: 0;
	}

	body.not-front .header-bgimage header.l-header {
		position: absolute;
	}

	header.l-header.sticky {
		position: fixed;
		z-index: 9999;
		width: 100%;
		top: 0;
	}

	.header-buttons ul, #block-menu-block-header-transaction-menu ul {
		/*float: none;*/
	}

	#block-menu-block-header-transaction-menu {
		position: relative;
		width: auto;
		margin-right: 0;
		right: inherit;
		top: inherit;
	}

	.secondary-header nav {
		/*position: relative;*/
		width: auto;
		margin-right: 0;
		right: inherit;
		top: inherit;
	}

	#main_mega_nav .medium-icons.pane-menu {
		font-size: 18px;
	}

	#block-menu-menu-transaction-menu,
	#main_mega_nav .medium-icons.pane-menu,
	#main_mega_nav .panel-panel .pane-menu h2.pane-title,
	#main_mega_nav .panel-panel .mega-menu-custom-heading h2.pane-title {
		padding: 0;
		letter-spacing: 1px;
		font-family: "bebas_neueregular",Helvetica,Arial,sans-serif;
		color: #fff;
	}

		#main_mega_nav .panel-panel .mega-menu-custom-heading {
			margin-left: 80px;
			display: block;
			padding-top: 20px;
		}

		#main_mega_nav .panel-panel .mega-menu-custom-heading h2.pane-title {
			line-height: 0.8em;
		}

		#main_mega_nav .panel-panel .mega-menu-custom-heading p {
			color: #fff;
			line-height: 0.5em;
			font-family: 'OpenSans-Regular', sans-serif;
		}

	#main_mega_nav .pane-menu-menu-9-schools-and-colleges h2.pane-title,
	#main_mega_nav .pane-menu-menu-9-schools-and-colleges-col h2.pane-title,
	#main_mega_nav .pane-menu-menu-information-for h2.pane-title,
	#main_mega_nav .pane-menu-menu-information-for-col-2 h2.pane-title {
		font-size: 24px;
		line-height: 1em;
	}

	#block-menu-menu-transaction-menu {
		/*padding: 0 1em;*/
	}

	#block-menu-menu-transaction-menu {
		background: #019cdb;
		float: left;
	}

	#block-menu-menu-transaction-menu ul li {
		float: left;
		font-size: 24px;
	}

		#block-menu-menu-transaction-menu ul li:after {
			content: "|";
		}

		#block-menu-menu-transaction-menu ul li:last-child:after {
			content: "";
		}

		#block-menu-menu-transaction-menu ul li a {
			padding: 5px 12px;
			display: inline-block;
			text-decoration: none;
			-webkit-transition-duration: 0.2s;
			-webkit-transition-property: all;
			color: white;
			transition-duration: 0.2s;
			transition-property: all;
		}
		#block-menu-menu-transaction-menu ul li a:hover {
			color: rgb(0, 46, 109);
		}


	/*.secondary-header > .container > .row {
		background-color: #002E6D;
		padding:0;
		margin-left: -30px;
		margin-right: -30px;
	}*/

	#main_mega_nav {
		width: 100%;
	}

	#main_mega_nav li.nav-item {
		/*float: right;*/
	}

	#main_mega_nav .sub-nav .container {
		padding: 0;
	}

	#main_mega_nav .sub-nav {
		background: rgba(0, 84, 166, 0.93);
		border: none;
		width: 100%;
		padding: 0 10px 10px;
		z-index: 1000;
		right: 0;
	}

	#main_mega_nav .nav-item > a,
	#main_mega_nav .nav-item > a:hover {
		background: #0054A6;
		border: 1px solid #0054a6;
		font-size: 16px;
		font-weight: bold;
		text-decoration: none;
	}

	#main_mega_nav .nav-item > a[data-main-menu-ico="main-hamburger-menu-ico"] /*span#main-hamburger-menu-ico*/ {
		background: #0054a6 url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/menu-hamburger-h.png') no-repeat 8px 50%;
		padding: 6px 8px 6px 34px;
		/*width: 21px;
		*height: 18px;
		*display: inline-block;
		*margin-top: 7px;*/
	}

	#main_mega_nav .nav-item > a[data-main-menu-ico="main-hamburger-menu-ico"].open /*.open span#main-hamburger-menu-ico */ {
		background: #0054a6 url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/menu-hamburger-x.png') no-repeat 8px 50%;
		/*background-position: -30px 0px;*/
	}

	#main_mega_nav .nav-item > a span#main-hamburger-menu-ico + span {
		padding: 6px 1em 6px 0em;
		display: block;
		margin-top: -26px;
		margin-left: 29px;
	}

	#main_mega_nav a:hover,
	#main_mega_nav a:active {
		/*background: #0054A6;*/
		text-decoration: underline;
		border: none;
	}

	#main_mega_nav a {
		font-family: 'OpenSans-Regular', sans-serif;
		text-decoration: none;
	}

	#main_mega_nav .nav-item a {
		font-family: 'OpenSans-SemiBold', sans-serif;
	}

	#main_mega_nav .nav-item .sub-nav a {
		font-family: 'OpenSans-Regular', sans-serif;
	}

	#main_mega_nav .medium-icons.pane-menu a {
		font-family: "bebas_neueregular",Helvetica,Arial,sans-serif;
		text-decoration: none;
	}

	#main_mega_nav .panel-pane.medium-icons,
	#main_mega_nav .panel-pane.small-icons {
		display: table;
		margin: 0 auto;
	}

	#main_mega_nav .panel-pane.medium-icons .menu,
	#main_mega_nav .panel-pane.small-icons .menu {
		margin: 0 auto;
		height: 50px;
		display: table;
	}

	#main_mega_nav .panel-pane.medium-icons .menu > li,
	#main_mega_nav .panel-pane.small-icons .menu > li {
		/*float: left;*/
		display: table-cell;
		line-height: normal;
	}

		#main_mega_nav .panel-pane.medium-icons .menu > li {
			/*width: 130px;*/
			padding: 29px 43px 19px 43px;
		}

		#main_mega_nav .panel-pane.small-icons .menu > li {
			/*width: 50px;*/
			padding: 0px 32px 28px;
			text-align: center;
		 }

		#main_mega_nav .panel-pane.small-icons .menu > li a,
		#main_mega_nav .panel-pane.medium-icons .menu > li a {
			display: block;
		}

		#main_mega_nav .panel-pane.small-icons .menu > li a {
			/*text-indent: 100%;*/
			/*white-space: nowrap;*/
			/*overflow: hidden;*/
			text-align: center;
			word-wrap: normal;

			/*! display: flex; */
			/*! flex-direction: column; */
			/*! justify-content: space-around; */
		}

		#main_mega_nav .panel-pane.small-icons .menu > li a span:first-child {
			display: inline-block;
			width: 50px;
			height: 50px;
		}

		#main_mega_nav .panel-pane.small-icons .menu > li a span:first-child + span {
			display: inherit;
			font-size: 12px;
			/*! text-align: center; */
		}

		#main_mega_nav .panel-pane.small-icons .menu > li a[title="Directory"] span:first-child {
			background-image: url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-directory.png');
		}

		#main_mega_nav .panel-pane.small-icons .menu > li a[title="Office365"] span:first-child {
			background-image: url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-email.png');
		}

		#main_mega_nav .panel-pane.small-icons .menu > li a[title="BlueLine"] span:first-child {
			background-image: url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-blueline.png');
		}

		#main_mega_nav .panel-pane.small-icons .menu > li a[title="NEST"] span:first-child {
			background-image: url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-nest.png');
		}

		#main_mega_nav .panel-pane.small-icons .menu > li a[title="Libraries"] span:first-child {
			background-image: url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-libraries.png');
		}

		#main_mega_nav .panel-pane.small-icons .menu > li a[title="Bookstore"] span:first-child {
			background-image: url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-bookstore.png');
		}

		#main_mega_nav .panel-pane.small-icons .menu > li a[title="Calendar"] span:first-child {
			background-image: url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-calendar.png');
		}

		#main_mega_nav .panel-pane.small-icons .menu > li a[title="myCreighton"] span:first-child {
			background-image: url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-mycreighton.png');
		}

		#main_mega_nav .panel-pane.small-icons .menu > li a[title="Media"] span:first-child {
			background-image: url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-media.png');
		}

		#main_mega_nav .panel-pane.small-icons .menu > li a[title="Directory"] span:first-child:hover,
		#main_mega_nav .panel-pane.small-icons .menu > li a[title="Office365"] span:first-child:hover,
		#main_mega_nav .panel-pane.small-icons .menu > li a[title="BlueLine"] span:first-child:hover,
		#main_mega_nav .panel-pane.small-icons .menu > li a[title="NEST"] span:first-child:hover,
		#main_mega_nav .panel-pane.small-icons .menu > li a[title="Libraries"] span:first-child:hover,
		#main_mega_nav .panel-pane.small-icons .menu > li a[title="Bookstore"] span:first-child:hover,
		#main_mega_nav .panel-pane.small-icons .menu > li a[title="Calendar"] span:first-child:hover,
		#main_mega_nav .panel-pane.small-icons .menu > li a[title="myCreighton"] span:first-child:hover,
		#main_mega_nav .panel-pane.small-icons .menu > li a[title="Media"] span:first-child:hover {
			background-position: 50px;
		}

		#main_mega_nav .panel-pane.medium-icons .menu > li a {
			width: 106px;
			height: 48px;
		}

		#main_mega_nav .panel-pane.medium-icons .menu > li a[title="Make a Gift"] {
			background: transparent url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-gift.png') no-repeat top left;
			padding: 3px 0 3px 55px;
		}

		#main_mega_nav .panel-pane.medium-icons .menu > li a[title="Campus Maps"] {
			background: transparent url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-map.png') no-repeat top left;
			padding: 3px 0 3px 46px;
		}

		#main_mega_nav .panel-pane.medium-icons .menu > li a[title="A-Z Index"] {
			background: transparent url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-azindex.png') no-repeat top left;
			padding: 2px 0 3px 57px;
		}

		#main_mega_nav .panel-pane.medium-icons .menu > li a[title="Make a Gift"]:hover,
		#main_mega_nav .panel-pane.medium-icons .menu > li a[title="Campus Maps"]:hover,
		#main_mega_nav .panel-pane.medium-icons .menu > li a[title="A-Z Index"]:hover {
			background-position: 0 -48px;
		}



	#block-menu-block-header-main-menu .menu,
	#main_mega_nav .panel-pane.pane-system-main-menu .menu {
		margin: .8em 0 0;
	}

	#block-menu-block-header-main-menu .menu > li,
	#main_mega_nav .panel-pane.pane-system-main-menu .menu > li {
		float: left;
		position: relative;
	}

	#block-menu-block-header-main-menu .menu > li > a,
	#main_mega_nav .panel-pane.pane-system-main-menu .menu > li > a {
		color: #fff;
		text-decoration: none;
		font-size: 24px;
		font-weight: normal;
		letter-spacing: 1px;
		padding: 1em .5em 0;
		font-family: 'OpenSans-Semibold', sans-serif;
	}

	#main_mega_nav .panel-display > .panel-panel:first-child {
		position: relative;
		background: #0054a6;
	}

	#main_mega_nav .panel-display > .panel-panel:first-child .inside {
		margin: 0;
	}

	#main_mega_nav .panel-display > .panel-panel:first-child .panel-col {
		/*float: none;*/
	}

	.dash-underline-links .menu li {
		padding: 10px 0;
		line-height: normal;
		border-bottom: 1px dashed #fff;
	}

	#main_mega_nav .panel-panel .pane-menu.panel-block-header-display-none h1.pane-title,
	#main_mega_nav .panel-panel .pane-menu.panel-block-header-display-none h2.pane-title,
	#main_mega_nav .panel-panel .pane-menu.panel-block-header-display-none h3.pane-title,
	#main_mega_nav .panel-panel .pane-menu.panel-block-header-display-none h4.pane-title {
		visibility: hidden;
	}

	.hide-text {
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}

	#block-menu-block-header-main-menu .menu > li.active > a,
	#block-menu-block-header-main-menu .menu > li.active-trail > a,
	#mini-panel-fullmenutoo > div:first-child .menu > li.active > a,
	#mini-panel-fullmenutoo > div:first-child .menu > li.active-trail > a {
		border-bottom: 5px solid #019cdb;
	}

	/* line 306, ../../../sass/partials/base/_menus.scss */
	#block-menu-block-header-main-menu .menu > li:hover > a,
	#mini-panel-fullmenutoo > div:first-child .menu > li:hover > a {
		border-bottom: 5px solid #019cdb;
	}
	/* line 309, ../../../sass/partials/base/_menus.scss */
	#block-menu-block-header-main-menu .menu > li:hover > .menu,
	#mini-panel-fullmenutoo > div:first-child .menu > li:hover > .menu {
		left: auto;
	}


	#main-header-search .quick-search input[type="submit"] {
		text-indent: -999em;
		position: absolute;
		right: 12px;
		height: 21px;
		width: 21px;
		border: none;
		background-color: transparent;
		top: 7px;
		background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2221%22%3E%3Cpath%20fill%3D%22%230054a6%22%20d%3D%22M16.057%208.734c0-4.037-3.285-7.322-7.322-7.322s-7.322%203.285-7.322%207.322c0%204.038%203.284%207.322%207.321%207.322s7.323-3.284%207.323-7.322zm-7.323%204.846c-2.672%200-4.845-2.173-4.845-4.845%200-2.671%202.173-4.845%204.845-4.845%202.671%200%204.845%202.173%204.845%204.845%200%202.671-2.174%204.845-4.845%204.845zm10.492%203.894l-3.676-3.675c-.495.665-1.085%201.255-1.751%201.751l3.675%203.675c.242.242.56.363.877.363.315%200%20.633-.121.875-.363.483-.483.483-1.268%200-1.751z%22%2F%3E%3C%2Fsvg%3E");
		background-repeat: no-repeat;
	}

	@media (max-width: 1250px) and (min-width: 768px) {
		#secondary-header-navigation {
			display: table;
			width: auto;
			float: none;
			margin: 0 auto;
			padding: 0;
		}

		#main-header-search .quick-search input[type="text"],
		#main-header-search .quick-search form.gray-search {
			margin: 0;
			padding: 4px 36px 4px 6px;
			height: 32px;
		}

		#main-header-search .quick-search input[type="submit"] {
			right: 6px;
			top: 6px;
		}

		#block-menu-menu-transaction-menu ul li {
			font-size: 20px;
		}

		#main_mega_nav .nav-item > a,
		#main_mega_nav .nav-item > a:hover {
			font-size: 12px;

		}

		#main-header-search {
			width: 250px;
			padding: 0;
			margin: 0;
		}

		#main_mega_nav .nav-item > a[data-main-menu-ico="main-hamburger-menu-ico"] /*span#main-hamburger-menu-ico*/ {
			padding: 8px 8px 8px 34px;
		}

		#main_mega_nav .panel-panel .pane-menu.panel-block-right-border {
			border-right: 3px dotted #95D2F3;
			margin-right: 7px;
			padding-right: 7px;
		}

		#block-menu-block-header-main-menu,
		#main_mega_nav .panel-display > .panel-panel:first-child > .panel-panel {
			width: 100%;
			max-width: 1300px;
			float: none;
			display: inline-block;
			margin: 0;
			padding: 0;
			max-height: none;
		}


		#block-menu-block-header-main-menu .menu,
		#main_mega_nav .panel-pane.pane-system-main-menu .menu {
			display: inline-block;
		}

		#main_mega_nav .sub-nav .container,
		.main-header .container {
			margin: 0;
			padding: 0;
		}

		#main_mega_nav .panel-three-four-adaptive .panel-col-twenty-five,
		#main_mega_nav .panel-four-three-adaptive,
		#main_mega_nav .panel-col-twenty-five {
			width: 25%;
		}

		body.site-www .main-header div.site-logo {
			margin: 0;
		}

		.main-header .l-branding,
		#main_mega_nav .panel-display .pane-page-logo {
			display: block;
			margin: auto;
			float: none;
			padding: 0;
			text-align: center;
		}

		body.site-www .main-header div.site-logo a,
		#main_mega_nav .panel-display .pane-page-logo a {
			padding: 24px 10px 8px;
			display: inline-block;
			width: 143px;
			margin: 0 auto;
		}

		.main-header div.site-logo img,
		#main_mega_nav .panel-display .pane-page-logo img {
			max-width: 123px;
		}

		.main-header .l-region--header,
		#main_mega_nav .panel-display > .panel-panel:first-child .lastUnit .inside {
			line-height: normal;
			position: relative;
			width: 100%;
			padding: 0 10px;
		}

		.menu-block-header_main_menu.menu-name-main-menu,
		#main_mega_nav .panel-display > .panel-panel:first-child .lastUnit .inside .pane-content {
			text-align: center;
		}

		#block-menu-block-header-main-menu .menu > li > a,
		#main_mega_nav .panel-pane.pane-system-main-menu .menu > li > a,
		#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu > li.leaf a{
			background: transparent;
			border-bottom: none;
			font-size: 16px;
			margin-top: 0;
			display: inline-block;
		}

		#block-menu-block-header-main-menu .menu > li > a:hover,
		#main_mega_nav .panel-pane.pane-system-main-menu .menu > li > a:hover,
		#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu > li.leaf a:hover {
			background: transparent;
		}

		#block-menu-menu-transaction-menu,
		#main_mega_nav .panel-panel .pane-menu h2.pane-title,
		#main_mega_nav .panel-panel .mega-menu-custom-heading h2.pane-title {
			font-size: 18px;
		}

		#main_mega_nav a,
		#main_mega_nav a {
			letter-spacing: normal;
		}

		.dash-underline-links .menu li {
			line-height: normal;
			padding: 6px 4px;
			font-size: 16px;
		}

		.sub-nav ul {
			margin: 0 4px 0 0;
		}

		#main_mega_nav .panel-panel .mega-menu-custom-heading p {
			font-size: 12px;
		}

		#main_mega_nav .panel-panel .mega-menu-custom-heading {
			margin-left: 22px;
		}

		#main_mega_nav .panel-pane.small-icons .menu > li {
			padding: 0px 15px 16px 15px;
		}

	}

	@media (max-width: 1300px) {
		.main-header .container {
			width: 100%;
			/*display: none;*/
		}

		.secondary-header {
			height: auto;
			min-height: 0;
			max-height: none;
		}

		.secondary-header .container {
			/*width: 100%;*/
		}

		#main-header-dropdown .site-logo {
			display: none;
		}
	}

	@media (min-width: 65.6875em) {
		.container {
			max-width: 1300px;
			margin-left: auto;
			margin-right: auto;
		}

		footer.footer .dropdown-menu li a {
			font-size: 16px;
		}

		.secondary-header {
			height: auto;
			min-height: 0;
			max-height: none;
		}
	}
	@media (min-width: 65.6875em) {
		footer.footer div.site-logo {
			width: 160px;
			margin-left: 0;
		}

		/*.secondary-header {
			height: auto;
			min-height: 0;
			max-height: none;
		}*/
	}
	@media (max-width: 47.9375em) {
		footer.footer div.site-logo {
			width: 120%;
		}

	}

	@media (min-width: 1300px) {
		#main-header-dropdown .site-logo {
			display: none;
		}
	}

	@media (max-width: 767px) {
		#main-header-search,
		#main-header-tranlinks,
		#main-header-dropdown {
			width: 100%;
		}

		#main-header-tranlinks {
			background: #019cdb;
			display: flex;
			justify-content: center;
			float: none;
		}

		#main-header-tranlinks #block-menu-menu-transaction-menu ul li a {
			padding: 12px;
		}

		#main-header-dropdown {
			background: #0054a6;
			padding: 15px;
		}

		#block-menu-block-header-main-menu .menu > li > a,
		#main_mega_nav .panel-pane.pane-system-main-menu .menu > li > a,
		#block-menu-block-header-main-menu .menu > li > a:hover,
		#main_mega_nav .panel-pane.pane-system-main-menu .menu > li > a:hover,
		#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu > li.leaf a,
		#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu > li.leaf a:hover {
			background: transparent;
		}

		#block-cu-quick-search-blocks-header-search-block {
			display: block;
		}

		body .main-header {
			display: none;
		}

		#block-menu-block-header-main-menu .menu > li,
		#main_mega_nav .panel-pane.pane-system-main-menu .menu > li,
		#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu > li {
			width: 100%;
			float: none;
		}

		#main_mega_nav .panel-pane.pane-system-main-menu .menu > li,
		#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu > li {
			border-bottom: 1px dotted #fff;
			padding: 8px;
		}

		#main_mega_nav .panel-pane.pane-system-main-menu .menu > li:first-child,
		#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu > li:first-child {
			border-top: 1px dotted #fff;
		}

		#main_mega_nav .panel-panel .pane-menu.panel-block-right-border {
			border: none;
			margin-right: 0;
			padding-right: 0;
		}

		#main_mega_nav .panel-panel .pane-menu.panel-block-header-display-none h1.pane-title,
		#main_mega_nav .panel-panel .pane-menu.panel-block-header-display-none h2.pane-title,
		#main_mega_nav .panel-panel .pane-menu.panel-block-header-display-none h3.pane-title,
		#main_mega_nav .panel-panel .pane-menu.panel-block-header-display-none h4.pane-title {
			display: none;
		}

		#main_mega_nav .panel-pane.medium-icons .menu,
		#main_mega_nav .panel-pane.small-icons .menu {
			display: block;
			height: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		#main_mega_nav .panel-pane.medium-icons .menu > li {
			padding: 29px 2px 19px;
		}

		#secondary-header-navigation {
			display: block;
			width: auto;
			float: none;
			margin: 0 auto;
			padding: 0;
		}

		header .secondary-header > .container {
			width: 100%;
			margin: 0 auto;
		}

		#main-header-search .quick-search input[type="text"],
		#main-header-search .quick-search form.gray-search {
			margin: 0;
			padding: 4px 36px 4px 6px;
			height: 30px;
		}

		#main-header-search .quick-search input[type="submit"] {
			right: 6px;
			top: 6px;
		}

		body.site-www .main-header div.site-logo {
			width: 182px;
		}

		#main-header-dropdown .site-logo {
			width: 163px;
			display: block;
			float: left;
		}

		#block-menu-menu-transaction-menu ul li {
			font-size: 20px;
		}

		#main_mega_nav .nav-item > a[data-main-menu-ico="main-hamburger-menu-ico"] {
			padding: 8px 8px 5px 34px;
		}

		#main_mega_nav .nav-item > a,
		#main_mega_nav .nav-item > a:hover {
			font-size: 16px;
		}

		.nav-menu {
			display: block;
			float: right;
			margin-top: 40px;
		}

		#main_mega_nav li.nav-item {
			float: none;
		}

		#block-menu-block-header-main-menu,
		#main_mega_nav .panel-display > .panel-panel:first-child > .panel-panel {
			width: 100%;
			max-width: 1300px;
			float: none;
			display: inline-block;
			margin: 0;
			padding: 0;
			max-height: none;
		}


		#block-menu-block-header-main-menu .menu,
		#main_mega_nav .panel-pane.pane-system-main-menu .menu {
			display: block;
		}

		#main_mega_nav .sub-nav .container,
		.main-header .container {
			margin: 0;
			padding: 0;
		}

		#main_mega_nav .panel-three-four-adaptive .panel-col-twenty-five,
		#main_mega_nav .panel-four-three-adaptive,
		#main_mega_nav .panel-col-twenty-five {
			width: 100%;
		}

		#main_mega_nav .panel-three-four-adaptive .panel-col-twenty-five .inside {
			margin: 0;
		}

		.main-header .l-branding,
		#main_mega_nav .panel-display .pane-page-logo {
			display: block;
			width: 123px;
			margin: auto;
			float: none;
			padding: 16px 0 20px;
		}

		#main_mega_nav .panel-display .pane-page-logo {
			display: none;
		}

		.main-header div.site-logo img {
			width: 100%;
			display: block;
		}

		.main-header .l-region--header,
		#main_mega_nav .panel-display > .panel-panel:first-child .lastUnit .inside {
			line-height: normal;
			position: relative;
			width: 100%;
			padding: 0 10px;
		}

		.menu-block-header_main_menu.menu-name-main-menu,
		#main_mega_nav .panel-display > .panel-panel:first-child .lastUnit .inside .pane-content,
		#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu {
			text-align: center;
		}

		#block-menu-block-header-main-menu .menu > li > a,
		#main_mega_nav .panel-pane.pane-system-main-menu .menu > li > a,
		#block-menu-block-header-main-menu .menu > li > a:hover,
		#main_mega_nav .panel-pane.pane-system-main-menu .menu > li > a:hover,
		#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu > li.leaf a,
		#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu > li.leaf a:hover {
			background: transparent;
			font-size: 16px;
		}

		#block-menu-menu-transaction-menu,
		#main_mega_nav .panel-panel .pane-menu h2.pane-title,
		#main_mega_nav .panel-panel .mega-menu-custom-heading h2.pane-title {
			font-size: 18px;
		}

		#main_mega_nav a,
		#main_mega_nav a {
			/*font-size: 12px;*/
			letter-spacing: normal;
		}

		.dash-underline-links .menu li {
			line-height: normal;
			padding: 4px;

		}

		.sub-nav ul {
			margin: 0 4px 0 0;
		}

		#main_mega_nav .panel-panel .mega-menu-custom-heading p {
			font-size: 12px;
			line-height: normal;
		}

		#main_mega_nav .panel-panel .mega-menu-custom-heading {
			margin-left: 0;
		}

		#main_mega_nav .panel-pane.small-icons .menu > li {
			padding: 0px 15px 16px 15px;
			max-width: 80px;
		}

		#secondary-header-navigation {
			display: flex;
			flex-direction: column;
		}

			#main-header-search {
				order: 2;
			}

			#main-header-tranlinks {
				order: 1;
			}

			#main-header-dropdown {
				order: 3;
			}

		#mini-panel-floating_schools_colleges .toggler {
			cursor: pointer;
			width: 100%;
			display: inline-block;
			margin: 24px 0 0;
		}

		#mini-panel-floating_schools_colleges .toggler .icon-caret-right,
		#mini-panel-floating_schools_colleges .toggler .icon-caret-down {
			margin: 0 0 0 10px;
			padding: 0;
			display: inline-block;;
		}

		#mini-panel-floating_schools_colleges .toggler .icon-caret-down {
			background: transparent url('/sites/all/themes/custom/web_themes/creighton_2016/images/png/primaryblue-arrow.png') no-repeat;
			width: 13px;
			height: 22px;
		}

		#mini-panel-floating_schools_colleges .toggler .icon-caret-right {
			background: transparent url('/sites/all/themes/custom/web_themes/creighton_2016/images/png/primaryblue-arrow-down.png') no-repeat;
			width: 22px;
			height: 13px;
		}

	}

	@media (max-width: 320px) {

		#main_mega_nav .nav-item a[data-main-menu-ico="main-hamburger-menu-ico"] span {
			display: none;
		}

		#main_mega_nav .panel-pane.medium-icons .menu > li {
			padding: 19px 4px 19px;
		}

		#main_mega_nav .panel-pane.medium-icons .menu > li a {
			/*66% for sm*/
			/*width: 67px;
			height: 31px;
			font-size: 80%;*/
			/* 80% for md */
			width: 85px;
			height: 39px;
			font-size: 80%;
		}

		#main_mega_nav .panel-pane.medium-icons .menu > li a[title="Make a Gift"] {
			background: transparent url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-gift-md-sm.png') no-repeat top left;
			/*padding: 2px 0 3px 36px;*/
			padding: 2px 0 3px 45px;
		}

		#main_mega_nav .panel-pane.medium-icons .menu > li a[title="Campus Maps"] {
			background: transparent url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-map-md-sm.png') no-repeat top left;
			/*padding: 2px 0 3px 32px;*/
			padding: 2px 0 3px 40px;
		}

		#main_mega_nav .panel-pane.medium-icons .menu > li a[title="A-Z Index"] {
			background: transparent url('/sites/all/themes/custom/web_themes/creighton_2016/images/megamenu-icons/mega-menu-azindex-md-sm.png') no-repeat top left;
			/*padding: 2px 0 3px 38px;*/
			padding: 2px 0 3px 47px;
		}

		#main_mega_nav .panel-pane.medium-icons .menu > li a[title="Make a Gift"]:hover,
		#main_mega_nav .panel-pane.medium-icons .menu > li a[title="Campus Maps"]:hover,
		#main_mega_nav .panel-pane.medium-icons .menu > li a[title="A-Z Index"]:hover {
			background-position: 0 -31px;
		}
	}

/* christian's changes */
footer.footer {
	font-family: OpenSans-Regular, Arial, sans-serif;
}
footer.footer #block-bean-footer-badge-us-news-2016 {
    width: 100%;
}
@media (max-width:767px) {
	body.not-front .top {
		padding-top: 0;
	}
	/*footer.footer .site-logo {
		width: 100%;
	}*/
	 footer.footer #block-bean-footer-badge-us-news-2016 {
        margin-left: -9px;
    }

    footer.footer #block-bean-footer-badge-us-news-2016 img {
        width: 120px;
    }
}
@media (min-width:48em) {
	 footer.footer #block-bean-footer-badge-us-news-2016 {
        width: 105%;
        margin-left: -10%;
        margin-top: -40px;
    }

}
@media (min-width:65.6875em) {
    footer.footer #block-bean-footer-badge-us-news-2016 {
        width: 58%;
        height: 165px;
        margin-left: -8%;
        margin-top: 4px;
    }
}

footer .outline-search input[type="submit"] {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2221%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M16.057%208.734c0-4.037-3.285-7.322-7.322-7.322s-7.322%203.285-7.322%207.322c0%204.038%203.284%207.322%207.321%207.322s7.323-3.284%207.323-7.322zm-7.323%204.846c-2.672%200-4.845-2.173-4.845-4.845%200-2.671%202.173-4.845%204.845-4.845%202.671%200%204.845%202.173%204.845%204.845%200%202.671-2.174%204.845-4.845%204.845zm10.492%203.894l-3.676-3.675c-.495.665-1.085%201.255-1.751%201.751l3.675%203.675c.242.242.56.363.877.363.315%200%20.633-.121.875-.363.483-.483.483-1.268%200-1.751z%22%2F%3E%3C%2Fsvg%3E") !important;
  background-repeat: no-repeat;
  left: 86% !important;
}
@media (min-width: 1250px) {
	footer .outline-search input[type="submit"] {
  left: 86% !important;
}
}
/* tablet styles */
@media (min-width:768px) and (max-width: 1250px) {
	footer.footer {
		height: 370px;
		overflow: hidden;
	}
	footer.footer .site-logo {
		width: 100%;
	}
	footer.footer #block-bean-footer-badge-us-news-2016 {
    	width: 100%;
    	margin-left: -10%;
    	margin-top: 0px;
	}
	.social-media {
    	top: 180px;
	}
	.copyright {
    	top: 230px;
	}
}
/* footer fixes to transaction menu */
footer.footer .menu-name-menu-transaction-menu {
	text-align: left;
	display: block;
	margin: 0;
	color: #fff;
	margin-bottom: 1em;

}
footer.footer .menu-name-menu-transaction-menu ul a {
    display: inline !important;
    padding: 0 12px;
	text-decoration: none;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-property: all;
	color: white;
	transition-duration: 0.2s;
	transition-property: all;
}
footer.footer .menu-name-menu-transaction-menu ul li {
	display: list-item;
	float: left;
	font-size: 1.5em;
	line-height: 1.6em;
	background-color: #019cdb !important;
}
footer.footer .menu-name-menu-transaction-menu ul li:after {
	color:#fff;
	content: "|";
}
footer.footer .menu-name-menu-transaction-menu ul li:last-child:after {
	content: "";
}
footer.footer .menu-name-menu-transaction-menu ul a:hover {
	background-color: #019cdb !important;
	color: rgb(0, 46, 109) !important;
}
/************************ Styles for main menu block   **********************/
#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu {
	margin: .8em 0 0;
	list-style-type: none;

}

#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu > li.leaf a {
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 1px;
	padding: 1em .5em 0;
	font-family: 'OpenSans-Semibold', sans-serif;
}
#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu > li.leaf {
	list-style-image: none;
	list-style-type: none;
	margin-left: 0;
	float: left;
	position: relative;
}
/************************ Styles for main menu block (Tablet)   **********************/


@media (min-width:768px) and (max-width: 1250px) {
	#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu {
		display: inline-block;
		list-style-type: none;

	}
	#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu > li.leaf a {
		color: #fff;
		text-decoration: none;
		font-size: 16px;
	}
}

/************************ Styles for main menu block (Mobile)   **********************/
@media (max-width: 767px) {
	#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu {
		text-align: left;
	}
	#main_mega_nav .nav-item .sub-nav .menu-name-main-menu ul.menu > li.leaf a {
		font-size: 16px;
	}
}

b, strong {
    font-family: "OpenSans-Semibold", Helvetica, Arial, sans-serif;
}
